/*############################################################
* 메인 css
* @author TEAM-ONE BY 정미
* 2023.10.11 ~
############################################################*/

/*############################## Top 10 영화 영역 ##############################*/
@media (max-width: 399px) {
  /* top 10 영화 타이틀 */
  div#wrap div#contents div#top_title {
    font-size: 1em;
    font-weight: 500;
    padding-left: 20px;
    margin-top: 300px;
    margin-bottom: 50px;
  }
  /* 글씨: top */
  div#wrap div#contents div#top_title p:nth-child(1) {
    font-size: 1em;
  }
  /* 숫자: 10 */
  div#wrap div#contents div#top_title p:nth-child(1) span {
    font-size: 2em;
    color: red;
  }
  /* 글씨: movies */
  div#wrap div#contents div#top_title p:nth-child(2) {
    color: bisque;
  }
  /* 글씨: today */
  div#wrap div#contents div#top_title p:nth-child(3) {
    color: gray;
  }

  swiper-container.mySwiper {
    width: 100%;
    min-height: 250px;
    margin-left: 6%;
    margin-top: 600px;
    overflow: hidden;
  }
  swiper-container.mySwiper span {
    font-size: 4rem;
    font-weight: 900px;
    letter-spacing: -5px;
    color: #333;
  }
  swiper-container.mySwiper swiper-slide {
    text-align: left;
    margin-right: 20px;
    padding: 0;
  }
  swiper-container.mySwiper swiper-slide img {
    width: 100px;
    height: 140px;
    border-radius: 15px;
    padding: 2px;
  }
  swiper-container.mySwiper swiper-slide img.outline:hover {
    object-fit: cover;
    border: 10px solid red;
    transition: all 1s;
  }
  /*############################## 추천영화 (Recommend Movies) 영역 ##############################*/
  div#wrap div#contents2 {
    display: fixed;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  /* 추천영화 제목 */
  div#wrap div#contents2 div#recomm div#recommWrap h1 {
    display: block;
    text-align: center;
    background-color: black;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 5px;
    color: red;
  }
  div#recomm div#recommWrap {
    width: 90%;
    margin: 0px auto;
    border: 0px solid red;
    border-top: none;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  div#recomm div#recommWrap span {
    color: bisque;
  }
  div#recomm div#recommWrap div.carousel {
    height: 300px;
    perspective: 200px;
  }
  div#recomm div#recommWrap div.carousel a.carousel-item {
    height: 200px;
  }
  div#recomm div#recommWrap div.carousel a.carousel-item img {
    width: 65%;
    border-radius: 15px;
  }
  /* 추천영상 - 클릭하면 이동하는 인디케이터 */
  div#recomm div#recommWrap div.carousel .indicators {
    display: none;
  }
  div#recomm div#recommWrap div.carousel .indicators .indicator-item {
    display: none;
  }
  div#recomm div#recommWrap div.carousel .indicators .indicator-item:hover {
    display: none;
  }
}
@media (min-width: 400px) and (max-width: 767px) {
  /* top 10 영화 타이틀 */
  div#wrap div#contents div#top_title {
    font-size: 1.2em;
    font-weight: 500;
    padding-left: 30px;
    margin-top: 300px;
  }
  /* 글씨: top */
  div#wrap div#contents div#top_title p:nth-child(1) {
    font-size: 1em;
  }
  /* 숫자: 10 */
  div#wrap div#contents div#top_title p:nth-child(1) span {
    font-size: 2em;
    color: red;
  }
  /* 글씨: movies */
  div#wrap div#contents div#top_title p:nth-child(2) {
    color: bisque;
  }
  /* 글씨: today */
  div#wrap div#contents div#top_title p:nth-child(3) {
    color: gray;
  }

  /* 숫자들: top 10 */
  swiper-container.mySwiper {
    width: 100%;
    min-height: 400px;
    margin-left: 6%;
    overflow: hidden;
  }
  swiper-container.mySwiper span {
    font-size: 7rem;
    font-weight: 900px;
    letter-spacing: -10px;
    color: #333;
  }
  swiper-container.mySwiper swiper-slide {
    text-align: left;
    margin-right: 15px;
    padding: 0;
  }
  swiper-container.mySwiper swiper-slide img {
    width: 150px;
    height: 200px;
    border-radius: 15px;
    padding: 0;
  }
  swiper-container.mySwiper swiper-slide img.outline:hover {
    object-fit: cover;
    border: 10px solid red;
    transition: all 1s;
  }
  /*############################## 추천영화 (Recommend Movies) 영역 ##############################*/
  div#wrap div#contents2 {
    display: fixed;
    justify-content: space-between;
    align-items: center;
  }
  /* 추천영화 제목 */
  div#wrap div#contents2 div#recomm div#recommWrap h1 {
    display: block;
    text-align: center;
    background-color: black;
    font-size: 2em;
    font-weight: 500;
    padding: 5px;
    color: red;
  }
  div#recomm div#recommWrap {
    width: 90%;
    margin: 0px auto;
    border: 0px solid red;
    border-top: none;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  div#recomm div#recommWrap span {
    color: bisque;
  }
  div#recomm div#recommWrap div.carousel {
    height: 380px;
    perspective: 500px;
  }
  div#recomm div#recommWrap div.carousel a.carousel-item {
    height: 300px;
  }
  div#recomm div#recommWrap div.carousel a.carousel-item img {
    width: 80%;
    border-radius: 15px;
  }
  /* 추천영상 - 클릭하면 이동하는 인디케이터 */
  div#recomm div#recommWrap div.carousel .indicators {
    display: none;
  }
  div#recomm div#recommWrap div.carousel .indicators .indicator-item {
    display: none;
  }
  div#recomm div#recommWrap div.carousel .indicators .indicator-item:hover {
    width: 20px;
    height: 20px;
    background: white;
    transition: all 0.5s;
  }
}

@media (min-width: 768px) {
  /* top 10 영화 타이틀 */
  div#wrap div#contents div#top_title {
    width: 200px;
    font-size: 2.8em;
    font-weight: 500;
    letter-spacing: -1px;
    padding-left: 40px;
  }
  /* 글씨: top */
  div#wrap div#contents div#top_title p:nth-child(1) {
  }
  /* 숫자: 10 */
  div#wrap div#contents div#top_title p:nth-child(1) span {
    color: red;
  }
  /* 글씨: movies */
  div#wrap div#contents div#top_title p:nth-child(2) {
    color: bisque;
  }
  /* 글씨: today */
  div#wrap div#contents div#top_title p:nth-child(3) {
    color: gray;
  }

  /* 숫자들: top 10 */
  swiper-container.mySwiper {
    width: 100%;
    min-height: 400px;
    margin-left: 100px;
    overflow: hidden;
  }
  swiper-container.mySwiper span {
    font-size: 8rem;
    font-weight: 500px;
    letter-spacing: -15px;
    margin-top: 200px;
    margin-left: 40px;
    color: #333;
  }
  swiper-container.mySwiper swiper-slide {
    text-align: left;
    margin: 0;
    padding: 0;
  }
  swiper-container.mySwiper swiper-slide img {
    width: 220px;
    height: 350px;
    border-radius: 40px;
    margin: 0;
    padding: 0;
  }
  swiper-container.mySwiper swiper-slide img.outline:hover {
    object-fit: cover;
    border: 10px solid red;
    transition: all 1s;
  }
  /*############################## 추천영화 (Recommend Movies) 영역 ##############################*/
  div#wrap div#contents2 {
    display: fixed;
    justify-content: space-between;
    align-items: center;
  }
  /* 추천영화 제목 */
  div#wrap div#contents2 div#recomm div#recommWrap h1 {
    display: block;
    text-align: center;
    background-color: black;
    font-size: 2.8em;
    font-weight: 500;
    letter-spacing: -2px;
    color: red;
  }
  div#recomm div#recommWrap {
    width: 90%;
    margin: 80px auto;
    border: 3px solid red;
    border-top: none;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  div#recomm div#recommWrap span {
    color: bisque;
  }
  div#recomm div#recommWrap div.carousel {
    height: 500px;
    perspective: 1000px;
  }
  div#recomm div#recommWrap div.carousel a.carousel-item {
    height: 550px;
  }
  div#recomm div#recommWrap div.carousel a.carousel-item img {
    width: 100%;
    border-radius: 20px;
    margin-top: 80px;
  }
  /* 추천영상 - 클릭하면 이동하는 인디케이터 */
  div#recomm div#recommWrap div.carousel .indicators {
    margin-bottom: 30px;
  }
  div#recomm div#recommWrap div.carousel .indicators .indicator-item {
    width: 15px;
    height: 15px;
    margin-right: 20px;
    background: red;
  }
  div#recomm div#recommWrap div.carousel .indicators .indicator-item:hover {
    width: 20px;
    height: 20px;
    background: white;
    transition: all 0.5s;
  }
}
@media (min-width: 1024px) {
  /* top 10 영화 타이틀 */
  div#wrap div#contents div#top_title {
    position: relative;
    width: 300px;
    font-size: 5em;
    font-weight: bold;
    letter-spacing: -1.5px;
    padding-left: 50px;
  }
  /* 글씨: top */
  div#wrap div#contents div#top_title p:nth-child(1) {
    position: absolute;
    top: -230px;
    font-size: 1em;
  }
  /* 숫자: 10 */
  div#wrap div#contents div#top_title p:nth-child(1) span {
    color: red;
    font-weight: 900px;
    font-size: 15rem;
  }
  /* 글씨: movies */
  div#wrap div#contents div#top_title p:nth-child(2) {
    position: absolute;
    top: -10px;
    color: bisque;
    font-size: larger;
  }
  /* 글씨: today */
  div#wrap div#contents div#top_title p:nth-child(3) {
    position: absolute;
    top: 75px;
    font-size: 0.8em;
    color: gray;
  }

  /* 숫자들: top 10 */
  swiper-container.mySwiper {
    width: 100%;
    min-height: 500px;
    margin-left: 300px;
    overflow: hidden;
  }
  swiper-container.mySwiper span {
    font-size: 14rem;
    font-weight: 900px;
    letter-spacing: -15px;
    margin-top: 200px;
    color: #333;
  }
  swiper-container.mySwiper swiper-slide {
    text-align: left;
    margin: 0;
    padding: 0;
  }
  swiper-container.mySwiper swiper-slide img {
    width: 350px;
    height: 480px;
    border-radius: 40px;
    margin: 0;
    padding: 0;
  }
  swiper-container.mySwiper swiper-slide img.outline:hover {
    object-fit: cover;
    border: 20px solid red;
    transition: all 1s;
  }
  /*############################## 추천영화 (Recommend Movies) 영역 ##############################*/
  div#wrap div#contents2 {
    display: fixed;
    justify-content: space-between;
    align-items: center;
  }
  /* 추천영화 제목 */
  div#wrap div#contents2 div#recomm div#recommWrap h1 {
    display: block;
    text-align: center;
    background-color: black;
    font-size: 5em;
    font-weight: bold;
    letter-spacing: -2px;
    color: red;
  }
  div#recomm div#recommWrap {
    width: 95%;
    margin: 100px auto;
    border: 3px solid red;
    border-top: none;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  div#recomm div#recommWrap span {
    color: bisque;
  }
  div#recomm div#recommWrap div.carousel {
    height: 650px;
    perspective: 2000px;
  }
  div#recomm div#recommWrap div.carousel a.carousel-item {
    height: 600px;
  }
  div#recomm div#recommWrap div.carousel a.carousel-item img {
    width: 150%;
    border-radius: 20px;
  }
  /* 추천영상 - 클릭하면 이동하는 인디케이터 */
  div#recomm div#recommWrap div.carousel .indicators {
    margin-bottom: 50px;
  }
  div#recomm div#recommWrap div.carousel .indicators .indicator-item {
    width: 20px;
    height: 20px;
    margin-right: 30px;
    background: red;
  }
  div#recomm div#recommWrap div.carousel .indicators .indicator-item:hover {
    width: 30px;
    height: 30px;
    background: white;
    transition: all 0.5s;
  }
}
