/*############################################################
* 검색페이지 css
* @author TEAM-ONE BY 제원
* 2023.10.11 ~
############################################################*/

@media (min-width: 1024px) {
  /*---------------------------------------------------------------피씨 화면 스타일----------------------------------------------------------------*/
  /* -------------------------------------------검색 랩-------------------- */
  #pickListWrap {
    background-color: black;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding: 2%;
    padding-bottom: -180px;
  }
  /* -------------------------------------------검색 랩-------------------- */

  /* ---------------------------------------검색박스 --------------------------*/
  #pickListWrap #inputBox {
    position: relative;
    margin: 90px auto 50px auto; /* 정미 수정 */
    padding-top: 6px; /* 정미 추가 */
    width: 800px;
    height: 65px;
    background-color: white;
    border-radius: 40px;
    border: 5px solid rgb(199, 25, 25);
  }

  /* 검색 인풋 박스 검색 아이콘 (폰트어썸) 정미 추가 */
  #pickListWrap #inputBox i.fa-solid {
    display: block;
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 30px;
    color: rgb(199, 25, 25);
    opacity: 0.9;
  }

  #pickListWrap input {
    display: block;
    margin: 0px auto;
    padding: 5px 20px; /* 정미 수정 */
    width: 650px; /* 정미 수정 */
    height: 35px;
    color: #666; /* 정미 수정 */
    font-size: 1.5em;
    border: none;
  }
  #pickListWrap input:focus {
    outline: none;
  }
  /* --------------------------------------------검색박스 -------------------------------*/

  /*------------------------------------- 카테고리 ----------------------------*/
  #pickLists {
    width: 70%;
    margin: 0px auto;
    font-size: 30px;
    overflow-x: hidden;
    border: 0px solid blue;
  }

  .pickList {
    float: left;

    margin: 0 2%;
    width: 21%;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    color: lightgray;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    background-color: #666;
  }
  .pickList a {
    color: white;
    display: block;
    border-radius: 15px 15px 0px 0px;
  }

  .pickList a:hover {
    background-color: #8b0000; /* 정미 수정 */
  }
  /* -------------------------------------------- */

  /* -------------------------------동적으로 받은 요소들 스타일------------------------ */

  #recomendList .sub_name {
    color: white;
    display: block;
    font-size: 30px;
    letter-spacing: -2px; /* 정미 추가 */
    padding: 20px 0px 10px 20px; /* 정미 수정 */
  }
  .sections .sub_name {
    color: white;
    display: block;
    font-size: 30px;
    letter-spacing: -2px; /* 정미 추가 */
    padding: 20px 0px 10px 20px; /* 정미 추가 */
  }
  #recomendList {
    width: 100%;
    margin-left: 0px;
  }
  #recomendList .recomended,
  .sections .recomended {
    margin-bottom: 20px;
  }
  #recomendList .recomended,
  .sections .recomended {
    position: relative;
    width: 19%;
    height: 340px;
    background-color: darkred;
    float: left;
    margin: 0.5%;
    border-radius: 25px 25px 25px 25px;
  }
  #recomendList .recomended span.movie_title,
  .sections span.movie_title {
    position: absolute;
    margin: 3%;
    left: 5px; /* 정미 수정 */
    bottom: 50px;
    font-size: 20px; /* 정미 수정 */
    letter-spacing: -2px; /* 정미 추가 */
    font-weight: 700px; /* 정미 수정 */
    color: white;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  #recomendList .recomended span.movie_type,
  .sections span.movie_type {
    position: absolute;
    margin: 3%;
    left: 5px; /* 정미 수정 */
    font-size: 14px;
    color: #ddd;
    bottom: 20px;
  }
  .recomended span.movie_grade {
    z-index: 1;
    display: block;
    position: absolute;
    padding: 0px;
    right: 15px; /* 정미 수정 */
    bottom: 66px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: white;
    text-align: center;
    font-size: 16px; /* 정미 수정 */
    border-radius: 3px;
    background-color: black;
  }
  .recomended button.modal_button {
    z-index: 1;
    position: absolute;
    width: 29px; /* 정미 수정 */
    height: 29px; /* 정미 수정 */
    right: 15px;
    bottom: 15px;
    border-radius: 20px;
    border: none; /* 정미 추가 */
    cursor: pointer;
    font-size: 20px; /* 정미 수정 */
    font-weight: bold;
  }
  .recomended button.ggim_button {
    z-index: 1;
    position: absolute;
    width: 28px; /* 정미 수정 */
    height: 28px; /* 정미 수정 */
    bottom: 15px; /* 정미 수정 */
    right: 50px; /* 정미 수정 */
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: darkred; /* 정미 수정 */
    font-size: 20px;
    font-weight: bold;
  }
  .recomended button.ggimed_button {
    z-index: 1;
    position: absolute;
    width: 28px; /* 정미 수정 */
    height: 28px; /* 정미 수정 */
    bottom: 15px; /* 정미 수정 */
    right: 50px; /* 정미 수정 */
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: darkred; /* 정미 수정 */
    font-size: 20px;
    font-weight: bold;
  }
  /* .recomended img:hover {
  filter: brightness(0.6);
} */

  /* -------------------------------동적으로 받은 요소들 스타일 ----------------------*/

  .recomended {
    transition: all 0.3s ease-in-out;
  }

  .clear_both {
    clear: both;
    margin: 0px;
  }

  /* class명 정미 수정 및 scriptforsearch에서도 수정 */
  .recomended img {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 340px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .sections {
    display: none;
  }

  /* 10-22 찜 버튼 스크립트 추가 css 추가 */
  .recomended .recomended_imgbox {
    z-index: 2;
    width: 100%;
    height: 340px;
    overflow: hidden;
    border-top-left-radius: 25px; /* 정미 수정 */
    border-top-right-radius: 25px; /* 정미 수정 */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  /* .recomended img:hover {
  filter: brightness(0.6);
} */
  /*나이별 색깔*/
  .recomended span.AgeRed {
    color: red;
  }
  .recomended span.AgeGreen {
    color: green;
  }
  .recomended span.AgeYellow {
    color: yellow;
  }
} /*---------------------------------------------------------------피씨 화면 스타일----------------------------------------------------------------*/

@media (min-width: 768px) and (max-width: 1023px) {
  /*-----------------------------------------------------태블릿 피씨 화면 스타일----------------------------------------------*/
  /* -------------------------------------------검색 랩-------------------- */
  #pickListWrap {
    background-color: black;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding: 2%;
    padding-bottom: -180px;
  }
  /* -------------------------------------------검색 랩-------------------- */

  /* ---------------------------------------검색박스 --------------------------*/
  #pickListWrap #inputBox {
    position: relative;
    margin: 90px auto 50px auto; /* 정미 수정 */
    padding-top: 6px; /* 정미 추가 */
    width: 100%;
    height: 65px;
    background-color: white;
    border-radius: 40px;
    border: 5px solid rgb(199, 25, 25);
  }

  /* 검색 인풋 박스 검색 아이콘 (폰트어썸) 정미 추가 */
  #pickListWrap #inputBox i.fa-solid {
    display: block;
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 30px;
    color: rgb(199, 25, 25);
    opacity: 0.9;
  }

  #pickListWrap input {
    display: block;
    margin: 0px auto;
    padding: 5px 20px; /* 정미 수정 */
    width: 650px; /* 정미 수정 */
    height: 35px;
    color: #666; /* 정미 수정 */
    font-size: 1.5em;
    border: none;
  }
  #pickListWrap input:focus {
    outline: none;
  }
  /* --------------------------------------------검색박스 -------------------------------*/

  /*------------------------------------- 카테고리 ----------------------------*/
  #pickLists {
    width: 70%;
    margin: 0px auto;
    font-size: 30px;
    overflow-x: hidden;
    border: 0px solid blue;
  }

  .pickList {
    float: left;
    margin: 0 2%;
    width: 20%;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    color: lightgray;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    background-color: #666;
  }
  .pickList a {
    color: white;
    display: block;
    border-radius: 15px 15px 0px 0px;
  }

  .pickList a:hover {
    background-color: #8b0000; /* 정미 수정 */
  }
  /* -------------------------------------------- */

  /* -------------------------------동적으로 받은 요소들 스타일------------------------ */

  #recomendList .sub_name {
    color: white;
    display: block;
    font-size: 30px;
    letter-spacing: -2px; /* 정미 추가 */
    padding: 20px 0px 10px 20px; /* 정미 수정 */
  }
  .sections .sub_name {
    color: white;
    display: block;
    font-size: 30px;
    letter-spacing: -2px; /* 정미 추가 */
    padding: 20px 0px 10px 20px; /* 정미 추가 */
  }
  #recomendList {
    width: 100%;
    margin-left: 0px;
  }
  #recomendList .recomended,
  .sections .recomended {
    margin-bottom: 20px;
  }
  #recomendList .recomended,
  .sections .recomended {
    position: relative;
    width: 32%;
    height: 340px;
    background-color: darkred;
    float: left;
    margin: 0.65%;
    border-radius: 25px 25px 25px 25px;
  }
  #recomendList .recomended span.movie_title,
  .sections span.movie_title {
    position: absolute;
    margin: 3%;
    left: 5px; /* 정미 수정 */
    bottom: 50px;
    font-size: 20px; /* 정미 수정 */
    letter-spacing: -2px; /* 정미 추가 */
    font-weight: 700px; /* 정미 수정 */
    color: white;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  #recomendList .recomended span.movie_type,
  .sections span.movie_type {
    position: absolute;
    margin: 3%;
    left: 5px; /* 정미 수정 */
    font-size: 14px;
    color: #ddd;
    bottom: 20px;
  }
  .recomended span.movie_grade {
    z-index: 1;
    display: block;
    position: absolute;
    padding: 0px;
    right: 15px; /* 정미 수정 */
    bottom: 66px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: white;
    text-align: center;
    font-size: 16px; /* 정미 수정 */
    border-radius: 3px;
    background-color: black;
  }
  .recomended button.modal_button {
    z-index: 1;
    position: absolute;
    width: 29px; /* 정미 수정 */
    height: 29px; /* 정미 수정 */
    right: 15px;
    bottom: 15px;
    border-radius: 20px;
    border: none; /* 정미 추가 */
    cursor: pointer;
    font-size: 20px; /* 정미 수정 */
    font-weight: bold;
  }
  .recomended button.ggim_button {
    z-index: 1;
    position: absolute;
    width: 28px; /* 정미 수정 */
    height: 28px; /* 정미 수정 */
    bottom: 15px; /* 정미 수정 */
    right: 50px; /* 정미 수정 */
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: darkred; /* 정미 수정 */
    font-size: 20px;
    font-weight: bold;
  }
  .recomended button.ggimed_button {
    z-index: 1;
    position: absolute;
    width: 28px; /* 정미 수정 */
    height: 28px; /* 정미 수정 */
    bottom: 15px; /* 정미 수정 */
    right: 50px; /* 정미 수정 */
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: darkred; /* 정미 수정 */
    font-size: 20px;
    font-weight: bold;
  }
  /* .recomended img:hover {
    filter: brightness(0.6);
  } */

  /* -------------------------------동적으로 받은 요소들 스타일 ----------------------*/

  .recomended {
    transition: all 0.3s ease-in-out;
  }

  .clear_both {
    clear: both;
    margin: 0px;
  }

  /* class명 정미 수정 및 scriptforsearch에서도 수정 */
  .recomended img {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 340px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .sections {
    display: none;
  }

  /* 10-22 찜 버튼 스크립트 추가 css 추가 */
  .recomended .recomended_imgbox {
    z-index: 2;
    width: 100%;
    height: 340px;
    overflow: hidden;
    border-top-left-radius: 25px; /* 정미 수정 */
    border-top-right-radius: 25px; /* 정미 수정 */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  /* .recomended img:hover {
    filter: brightness(0.6);
  } */
  /*나이별 색깔*/
  .recomended span.AgeRed {
    color: red;
  }
  .recomended span.AgeGreen {
    color: green;
  }
  .recomended span.AgeYellow {
    color: yellow;
  }
} /*--------------------------------------------**************************---------태블릿 피씨 화면 스타일-------*************---------------------------------------*/

@media (min-width: 400px) and (max-width: 767px) {
  /*-----------------------------------------------------스마트폰 화면 스타일----------------------------------------------*/
  /* -------------------------------------------검색 랩-------------------- */
  #pickListWrap {
    background-color: black;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding: 2%;
    padding-bottom: -180px;
  }
  /* -------------------------------------------검색 랩-------------------- */

  /* ---------------------------------------검색박스 --------------------------*/
  #pickListWrap #inputBox {
    position: relative;
    margin: 90px auto 50px auto; /* 정미 수정 */
    padding-top: 6px; /* 정미 추가 */
    width: 80%;
    height: 65px;
    background-color: white;
    border-radius: 40px;
    border: 5px solid rgb(199, 25, 25);
  }

  /* 검색 인풋 박스 검색 아이콘 (폰트어썸) 정미 추가 */
  #pickListWrap #inputBox i.fa-solid {
    display: block;
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 30px;
    color: rgb(199, 25, 25);
    opacity: 0.9;
  }

  #pickListWrap input {
    display: block;
    margin: 0px auto;
    padding: 5px 20px; /* 정미 수정 */
    width: 70%; /* 정미 수정 */
    height: 35px;
    color: #666; /* 정미 수정 */
    font-size: 1.5em;
    border: none;
  }
  #pickListWrap input:focus {
    outline: none;
  }
  /* --------------------------------------------검색박스 -------------------------------*/

  /*------------------------------------- 카테고리 ----------------------------*/
  #pickLists {
    display: none;
    width: 70%;
    margin: 0px auto;
    font-size: 30px;
    overflow-x: hidden;
    border: 0px solid blue;
  }

  .pickList {
    float: left;
    margin: 0 2%;
    width: 20%;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    color: lightgray;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    background-color: #666;
  }
  .pickList a {
    color: white;
    display: block;
    border-radius: 15px 15px 0px 0px;
  }

  .pickList a:hover {
    background-color: #8b0000; /* 정미 수정 */
  }
  /* -------------------------------------------- */

  /* -------------------------------동적으로 받은 요소들 스타일------------------------ */

  #recomendList .sub_name {
    color: white;
    display: block;
    font-size: 30px;
    letter-spacing: -2px; /* 정미 추가 */
    padding: 20px 0px 10px 20px; /* 정미 수정 */
  }
  .sections .sub_name {
    color: white;
    display: block;
    font-size: 30px;
    letter-spacing: -2px; /* 정미 추가 */
    padding: 20px 0px 10px 20px; /* 정미 추가 */
  }
  #recomendList {
    width: 100%;
    margin-left: 0px;
    padding: 0 5%;
  }

  #recomendList .recomended,
  .sections .recomended {
    position: relative;
    width: 48%;
    height: 340px;
    background-color: darkred;
    float: left;
    margin: 10px 1%;
    border-radius: 25px 25px 25px 25px;
  }
  #recomendList .recomended span.movie_title,
  .sections span.movie_title {
    position: absolute;
    margin: 3%;
    left: 5px; /* 정미 수정 */
    bottom: 50px;
    font-size: 20px; /* 정미 수정 */
    letter-spacing: -2px; /* 정미 추가 */
    font-weight: 700px; /* 정미 수정 */
    color: white;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  #recomendList .recomended span.movie_type,
  .sections span.movie_type {
    position: absolute;
    margin: 3%;
    left: 5px; /* 정미 수정 */
    font-size: 14px;
    color: #ddd;
    bottom: 20px;
  }
  .recomended span.movie_grade {
    z-index: 1;
    display: block;
    position: absolute;
    padding: 0px;
    right: 15px; /* 정미 수정 */
    bottom: 66px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: white;
    text-align: center;
    font-size: 16px; /* 정미 수정 */
    border-radius: 3px;
    background-color: black;
  }
  .recomended button.modal_button {
    z-index: 1;
    position: absolute;
    width: 29px; /* 정미 수정 */
    height: 29px; /* 정미 수정 */
    right: 15px;
    bottom: 15px;
    border-radius: 20px;
    border: none; /* 정미 추가 */
    cursor: pointer;
    font-size: 20px; /* 정미 수정 */
    font-weight: bold;
  }
  .recomended button.ggim_button {
    z-index: 1;
    position: absolute;
    width: 28px; /* 정미 수정 */
    height: 28px; /* 정미 수정 */
    bottom: 15px; /* 정미 수정 */
    right: 50px; /* 정미 수정 */
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: darkred; /* 정미 수정 */
    font-size: 20px;
    font-weight: bold;
  }
  .recomended button.ggimed_button {
    z-index: 1;
    position: absolute;
    width: 28px; /* 정미 수정 */
    height: 28px; /* 정미 수정 */
    bottom: 15px; /* 정미 수정 */
    right: 50px; /* 정미 수정 */
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: darkred; /* 정미 수정 */
    font-size: 20px;
    font-weight: bold;
  }
  /* .recomended img:hover {
      filter: brightness(0.6);
    } */

  /* -------------------------------동적으로 받은 요소들 스타일 ----------------------*/

  .recomended {
    transition: all 0.3s ease-in-out;
  }

  .clear_both {
    clear: both;
    margin: 0px;
  }

  /* class명 정미 수정 및 scriptforsearch에서도 수정 */
  .recomended img {
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: 340px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 0px solid blue;
  }

  .sections {
    display: none;
  }

  /* 10-22 찜 버튼 스크립트 추가 css 추가 */
  .recomended .recomended_imgbox {
    border: 0px solid yellow;
    z-index: 2;
    width: 100%;
    height: 340px;
    overflow: hidden;
    border-top-left-radius: 25px; /* 정미 수정 */
    border-top-right-radius: 25px; /* 정미 수정 */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  /* .recomended img:hover {
      filter: brightness(0.6);
    } */
  /*나이별 색깔*/
  .recomended span.AgeRed {
    color: red;
  }
  .recomended span.AgeGreen {
    color: green;
  }
  .recomended span.AgeYellow {
    color: yellow;
  }
} /*--------------------------------------------**********************---------스마트폰 화면 스타일-------*************-------------------------------------*/

@media (max-width: 399px) {
  /*--------------------------------------------------더 작은 스마트폰 화면 스타일----------------------------------------------*/
  /* -------------------------------------------검색 랩-------------------- */
  #pickListWrap {
    background-color: black;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    padding: 2%;
    padding-bottom: -180px;
  }
  /* -------------------------------------------검색 랩-------------------- */

  /* ---------------------------------------검색박스 --------------------------*/
  #pickListWrap #inputBox {
    position: relative;
    margin: 90px auto 50px auto; /* 정미 수정 */
    padding-top: 6px; /* 정미 추가 */
    width: 80%;
    height: 65px;
    background-color: white;
    border-radius: 40px;
    border: 5px solid rgb(199, 25, 25);
  }

  /* 검색 인풋 박스 검색 아이콘 (폰트어썸) 정미 추가 */
  #pickListWrap #inputBox i.fa-solid {
    display: block;
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 30px;
    color: rgb(199, 25, 25);
    opacity: 0.9;
  }

  #pickListWrap input {
    display: block;
    margin: 0px auto;
    padding: 5px 20px; /* 정미 수정 */
    width: 70%; /* 정미 수정 */
    height: 35px;
    color: #666; /* 정미 수정 */
    font-size: 1.5em;
    border: none;
  }
  #pickListWrap input:focus {
    outline: none;
  }
  /* --------------------------------------------검색박스 -------------------------------*/

  /*------------------------------------- 카테고리 ----------------------------*/
  #pickLists {
    display: none;
    width: 70%;
    margin: 0px auto;
    font-size: 30px;
    overflow-x: hidden;
    border: 0px solid blue;
  }

  .pickList {
    float: left;
    margin: 0 2%;
    width: 20%;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    color: lightgray;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    background-color: #666;
  }
  .pickList a {
    color: white;
    display: block;
    border-radius: 15px 15px 0px 0px;
  }

  .pickList a:hover {
    background-color: #8b0000; /* 정미 수정 */
  }
  /* -------------------------------------------- */

  /* -------------------------------동적으로 받은 요소들 스타일------------------------ */

  #recomendList .sub_name {
    color: white;
    display: block;
    font-size: 30px;
    letter-spacing: -2px; /* 정미 추가 */
    padding: 20px 0px 10px 20px; /* 정미 수정 */
  }
  .sections .sub_name {
    color: white;
    display: block;
    font-size: 30px;
    letter-spacing: -2px; /* 정미 추가 */
    padding: 20px 0px 10px 20px; /* 정미 추가 */
  }
  #recomendList {
    width: 100%;
    margin-left: 0px;
  }
  #recomendList .recomended,
  .sections .recomended {
    margin-bottom: 20px;
  }
  #recomendList .recomended,
  .sections .recomended {
    position: relative;
    width: 85%;
    height: 340px;
    background-color: darkred;
    float: left;
    margin: 20px 7.5%;
    border-radius: 25px 25px 25px 25px;
  }
  #recomendList .recomended span.movie_title,
  .sections span.movie_title {
    position: absolute;
    margin: 3%;
    left: 5px; /* 정미 수정 */
    bottom: 50px;
    font-size: 20px; /* 정미 수정 */
    letter-spacing: -2px; /* 정미 추가 */
    font-weight: 700px; /* 정미 수정 */
    color: white;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  #recomendList .recomended span.movie_type,
  .sections span.movie_type {
    position: absolute;
    margin: 3%;
    left: 5px; /* 정미 수정 */
    font-size: 14px;
    color: #ddd;
    bottom: 20px;
  }
  .recomended span.movie_grade {
    z-index: 1;
    display: block;
    position: absolute;
    padding: 0px;
    right: 15px; /* 정미 수정 */
    bottom: 66px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: white;
    text-align: center;
    font-size: 16px; /* 정미 수정 */
    border-radius: 3px;
    background-color: black;
  }
  .recomended button.modal_button {
    z-index: 1;
    position: absolute;
    width: 29px; /* 정미 수정 */
    height: 29px; /* 정미 수정 */
    right: 15px;
    bottom: 15px;
    border-radius: 20px;
    border: none; /* 정미 추가 */
    cursor: pointer;
    font-size: 20px; /* 정미 수정 */
    font-weight: bold;
  }
  .recomended button.ggim_button {
    z-index: 1;
    position: absolute;
    width: 28px; /* 정미 수정 */
    height: 28px; /* 정미 수정 */
    bottom: 15px; /* 정미 수정 */
    right: 50px; /* 정미 수정 */
    border-radius: 50%;
    border: none;
    cursor: pointer;
    color: darkred; /* 정미 수정 */
    font-size: 20px;
    font-weight: bold;
  }
  .recomended button.ggimed_button {
    z-index: 1;
    position: absolute;
    width: 28px; /* 정미 수정 */
    height: 28px; /* 정미 수정 */
    bottom: 15px; /* 정미 수정 */
    right: 50px; /* 정미 수정 */
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: darkred; /* 정미 수정 */
    font-size: 20px;
    font-weight: bold;
  }
  /* .recomended img:hover {
        filter: brightness(0.6);
      } */

  /* -------------------------------동적으로 받은 요소들 스타일 ----------------------*/

  .recomended {
    transition: all 0.3s ease-in-out;
  }

  .clear_both {
    clear: both;
    margin: 0px;
  }

  /* class명 정미 수정 및 scriptforsearch에서도 수정 */
  .recomended img {
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 100%;
    height: 340px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .sections {
    display: none;
  }

  /* 10-22 찜 버튼 스크립트 추가 css 추가 */
  .recomended .recomended_imgbox {
    z-index: 2;
    width: 100%;
    height: 340px;
    overflow: hidden;
    border-top-left-radius: 25px; /* 정미 수정 */
    border-top-right-radius: 25px; /* 정미 수정 */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  /* .recomended img:hover {
        filter: brightness(0.6);
      } */
  /*나이별 색깔*/
  .recomended span.AgeRed {
    color: red;
  }
  .recomended span.AgeGreen {
    color: green;
  }
  .recomended span.AgeYellow {
    color: yellow;
  }
} /*--------------------------------------------**************************---------스마트폰 화면 스타일-------*************---------------------------------------*/
